<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>163news.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C489058E1C1EDFF6005D371E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48905A21C1EDFF6005D371E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48905AD1C1EDFF6005D371E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
